<!DOCTYPE html>
<html lang="en">
<head>
  <title>LinkData Project</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/styles/bootstrap-theme.css">
  <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/nav.css">


  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>
<body>

<div id="top"></div>

<!-- Nav Menu Start-->
<nav id="menu">
  <ul>
    <li><span class="brand"><a href="">LinkData Project Application</a></span></li>
    <li><a href="/Spot/Home" class="tooltip-bottom" data-hint="Home">Home</a></li>
    <li><a href="/User/Register" class="tooltip-bottom" data-hint="Add Spot">Register</a></li>
    <li><a href="#" class="tooltip-bottom" data-hint="Register">About</a></li>
    <li><a href="/User/Login" class="tooltip-bottom" data-hint="Contact">Login</a></li>
    <li><a href="#" class="tooltip-bottom" data-hint="Contact">Contact</a></li>
    <div class="flip">
      <li class="search"><a href=""><i class="fa fa-search"></i></a></li>
    </div>
  </ul>
</nav>


<%- body %>
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/npm.js"></script>
<script src="/js/templete.js"></script>
</body>
</html>
